In [21]:
!pip install rpy2

Requirement already satisfied: rpy2 in /usr/local/lib/python3.10/dist-packages (3.4.2)
Requirement already satisfied: cffi>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from rpy2) (1.16.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from rpy2) (3.1.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from rpy2) (2023.3.post1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.10/dist-packages (from rpy2) (5.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.10.0->rpy2) (2.21)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->rpy2) (2.1.3)

In [22]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [23]:
%%R
x <- seq(0, 2*pi, length.out=50)
x

 [1] 0.0000000 0.1282283 0.2564565 0.3846848 0.5129131 0.6411414 0.7693696
 [8] 0.8975979 1.0258262 1.1540544 1.2822827 1.4105110 1.5387393 1.6669675
[15] 1.7951958 1.9234241 2.0516523 2.1798806 2.3081089 2.4363372 2.5645654
[22] 2.6927937 2.8210220 2.9492502 3.0774785 3.2057068 3.3339351 3.4621633
[29] 3.5903916 3.7186199 3.8468481 3.9750764 4.1033047 4.2315330 4.3597612
[36] 4.4879895 4.6162178 4.7444460 4.8726743 5.0009026 5.1291309 5.2573591
[43] 5.3855874 5.5138157 5.6420439 5.7702722 5.8985005 6.0267288 6.1549570
[50] 6.2831853

In [24]:
%%R
s=10
x=11
if(x>s){
    print("X is greater than S")
}else{
    print("X is smaller than S")
}

[1] "X is greater than S"

In [ ]:
%%R
help('paste')

In [25]:
%%R
paste(2,'hello')

[1] "2 hello"

In [3]:
my_list <- c()
n <- as.integer(readline(prompt= "Enter the number of elements: "))
for(i in 1:n){
    var <- as.integer(readline(prompt = paste("Enter Element : ")))
    my_list[i] <- var
}
print(my_list)

Enter the number of elements: 3
Enter Element : 1
Enter Element : 2
Enter Element : 3
[1] 1 2 3

1 coin
1 dice

toss coin - head - tail
roll dice - 1 2 3 4 5 6

In [76]:
# et check wheter we got coin or dice from pur pocket
et <- c(0,1)
x <- sample(et,size=1)
# x shows wheter we got coin or dice
if(x==1) {
  print("Coin")
} else {
  print("Dice")
}

[1] "Coin"

In [ ]:

xr <- sample(coin,size=4)

In [32]:
# 1 = head
# 0 = tail
coin <- c(1, 0,1,1,1,0,0,1)
#sample(coin, prob = c(0.9, 0.1))
x <- sample(coin,size=4)



x

[1] 0 1 0 1

In [58]:
r <- expand.grid(die1=1:6,coin1=1:2)

r$die1>2

 [1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

In [81]:
# et check wheter we got coin or dice from pur pocket
et <- c(0,1)
x <- sample(et,size=1)
# x shows wheter we got coin or dice
if(x==1) {
  print("Coin")
  x1<-sample(et,size=1)
  x1
} else {
  print("Dice")
}

[1] "Dice"

In [104]:
die <- c(1,2,3,4,5,6)
coin <- c("Head","Tail")

r1 <- expand.grid(die=1:6,coin<-c("H","T"))
r2 <- expand.grid(die=1:6,coin<-c("Queen","King"))
df <- rbind(r1, r2)
df

   die Var2
1  1   H
2  2   H
3  3   H
4  4   H
5  5   H
6  6   H
7  1   T
8  2   T
9  3   T
10 4   T
11 5   T
12 6   T
13 1   Queen
14 2   Queen
15 3   Queen
16 4   Queen
17 5   Queen
18 6   Queen
19 1   King
20 2   King
21 3   King
22 4   King
23 5   King
24 6   King

In [102]:
die <- c(1,2,3,4,5,6)
coin <- c("Head","Tail")

coin <- c("H","T")
#roll1 <- expand.grid(die=1:6,die=1:6)
roll1 <- expand.grid(coin)
roll2 <- expand.grid(die=1:6,die=1:6,die=1:6)
x <- expand.grid(roll1,roll2)
x

ERROR while rich displaying an object: Error in vapply(part, function(col) {: values must be type 'character',
 but FUN(X[[1]]) result is type 'list'

Traceback:
1. tryCatch(withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
2. tryCatchList(expr, classes, parentenv, handlers)
3. tryCatchOne(expr, names, parentenv, handlers[[1L]])
4. doTryCatch(return(expr), name, parentenv, handler)
5. withCallingHandlers({
 .     if (!mime %in% names(repr::mime2repr))
 .         stop("No repr_* for mimetype ", mime, " in repr::mime2repr")
 .     rpr <- repr::mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
6. repr::mime2repr[[mime]](obj)
7. repr_text.data.frame(obj)
8. ellip_limit_arr(obj, rows, cols)
9. arr_parts_format(parts)
10. structure(lapply(parts, arr_part_format), omit = attr(parts,
  .     "omit"))
11. lapply(parts, arr_part_format)
12. FUN(X[[i]], ...)
13. vapply(part, function(col) {
  .     if (is.matrix(col))
  .         apply(apply(col, 2L, format), 1L, paste, collapse = ", ")
  .     else format(col)
  . }, character(nrow(part)))