# ***Part 1***

**9.1**

In [ ]:
def reverse(s):
  str = s [::-1]
  return str
  
str = input("Please enter your string : ") 
str = reverse(str)
print(str)

**9.2**

In [56]:
def palindrome(s):
  if (s==s[::-1]): print("true")
  else: print("false")

str = "A man, a plan, a canal : Panama"

#replacing the unnecessary punctutations from the string
str = str.replace(",","")
str = str.replace(".","")
str = str.replace(" ","")
str = str.replace(":","")

#lowering all the alphabets to lower case 
str = str.lower()

palindrome(str)

true

**9.3**

In [28]:
def sqrt(num):
  sqroot = num**(1/2)
  return int(sqroot) 

num = int(input("Please enter your number : "))
sqroot = sqrt(num)
print(sqroot)

Please enter your number : 16
4



---



---



---

# ***Part 2***

**Task 1**

In [78]:
def choice(x):
  if(x==1):
    print("   *   ")
    print("  * *  ")
    print(" *   * ")
  elif(x==2):
    print("******")
    print("*     ")
    print("*     ")
    print("******")
  else:
    print("Invalid input")


print("What would you like to print ? ")
print("Press 1 for triangle or 2 for rectangle : ")
x=int(input())
choice(x)

What would you like to print ?
Press 1 for triangle or 2 for rectangle :
1
   *
  * *
 *   *

**Task 2**

In [96]:
# A) Create a dictionary and apply the following methods

capital_city = {"Pakistan" : "Lahore" , "Nepal" : "Kathmandu" , "Italy" : "Rome" , "England" : "London" , "USA" : "Washington DC" }

# 1) Printing the dictionary items 
#print(capital_city)

# 2) access items - Printing 1 element from the dictionary
print(capital_city["Pakistan"])

# 3) use get()

# 4) change values
capital_city["Italy"] ="Venice" 
print(capital_city["Italy"])

# 5) use len()
n=len(capital_city)
print(n)



# B) Create a tuple and perform the following methods

# 1) Add items
school_tuple = (1,'Saad Asghar','Lahore',3094119419)
print(school_tuple)

# 2) len()
n=len(school_tuple)
print(n)

# 3) Check for item in tuple
print(school_tuple[1])

# 4) Access items
print(school_tuple[2])
print(school_tuple[3])

Lahore
Venice
5
(1, 'Saad Asghar', 'Lahore', 3094119419)
4
Saad Asghar
Lahore
3094119419

**Task 3**

In [112]:
pie = 3.141592653589793238
r=int(input("Please enter the radius : "))
h=int(input("Please enter the height : "))

vol = float(r*r*h*pie)  

print(vol)

Please enter the radius : 3
Please enter the height : 3
84.82300164692441

**Task 4**

In [118]:
def add(c1,c2):
  print("The sum of the two numbers is : " , c1+c2)

def sub(c1,c2):
  print("The difference of the two numbers is : " , c1-c2)

def mult(c1,c2):
  print("The product of the two numbers is : " , c1*c2)

def div(c1,c2):
  print("The division of the two numbers is : " , c1/c2) 

print("Please enter the values ")
v1=int(input())
v2=int(input())
print("Please enter the function you would like to perform : ")
print("1 - Addition")
print("2 - Subtraction")
print("3 - Multiplication")
print("4 - Division")

x=int(input())
if x==1:
  add(v1,v2)
if x==2:
  sub(v1,v1)
if x==3: 
  mult(v1,v2)
if x==4:
  div(v1,v2)  
else:
  print("Invalid Input")

Please enter the values
69
3
Please enter the function you would like to perform :
1 - Addition
2 - Subtraction
3 - Multiplication
4 - Division
4
The division of the two numbers is :  23.0

**Task 5**

In [121]:
def palindrome(s):
  if (s==s[::-1]): print("true")
  else: print("false")

str = "dabbad"
palindrome(str)

true

**Task 6**

In [129]:
x=int(input("Please enter a number to find it's factorial : "))
fact=1
for i in range(1,x+1):
  fact = fact*i
print("The Factorial is : " , fact )

Please enter a number to find it's factorial : 1
The Factorial is :  1

**Task 7**

In [137]:
def check(list1,list2):
  flag = bool(1)
  x=int(len(list1))
  for i in range(0,x):
    print(list1[i], " " , list2[i])
    if(list1[i]!=list2[i]):
      flag=0
  return flag    



list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
if check(list1,list2):
  print("True")
else:
  print("False")

1   1
2   2
3   3
2   4
5   5
False