In [22]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [24]:
from pyspark import SparkContext,SparkConf
conf = SparkConf().setAppName("Lab 13A").setMaster("local[*]")
sc = SparkContext(conf=conf)

ValueError: ignored

In [25]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("MoviesDataAnalysis").getOrCreate()
movies_df = spark.read.format("csv").option("header", "true").load("Movies.csv")

In [26]:
from pyspark.sql.functions import col
action_award_movies = movies_df.select("title", "year", "director") \
    .where((col("Genre") == "Action") & (col("Awards") == "Yes"))
action_award_movies.show()

+-----+----+--------+
|title|year|director|
+-----+----+--------+
+-----+----+--------+

In [27]:
from pyspark.sql.functions import col, collect_list
actor_movies = movies_df.select("Actor", "Title", "Director") \
    .where(col("Awards") == True) \
    .groupBy("Actor") \
    .agg(collect_list("Title").alias("Movies"), collect_list("Director").alias("directors"))
actor_movies.show()

+-----------------+--------------------+--------------------+
|            Actor|              Movies|           directors|
+-----------------+--------------------+--------------------+
|     LintDerek De|        [AssaultThe]|    [RademakersFons]|
|    LancasterBurt|[Airport, Come Ba...|[SeatonGeorge, Ma...|
|      BridgesBeau|         [Norma Rae]|        [RittMartin]|
|  CapolicchioLino|[Garden of the Fi...|   [De SicaVittorio]|
|         LoneJohn|   [Last EmperorThe]|[BertolucciBernardo]|
|      IronsJeremy|[Reversal of Fort...|   [SchroederBarbet]|
|AumontJean-Pierre|     [Day for Night]|  [TruffautFran√ßois]|
|         HarrisEd|[Places in the He...|      [BentonRobert]|
|      ConnerySean|   [UntouchablesThe]|     [De PalmaBrian]|
|      HarrisonRex|      [My Fair Lady]|       [CukorGeorge]|
|       HudsonRock|             [Giant]|     [StevensGeorge]|
|     TracySpencer|[Judgment at Nure...|[KramerStanley, K...|
|  StrouseNocholas|[Doin' Time on Pl...|    [MatthauCharles]|
|    BeymerRichard|   [West Side Story]|        [WiseRobert]|
|       KlineKevin|   [Sophie's Choice]|     [PakulaAlan J.]|
|         GreyJoel|           [Cabaret]|          [FosseBob]|
|      AielloDanny|[Purple Rose of C...|        [AllenWoody]|
|BelmondoJean-Paul|         [Two Women]|   [De SicaVittorio]|
|      MooreDudley|            [Arthur]|       [GordonSteve]|
|   RobertsonCliff|            [Charly]|       [NelsonRalph]|
+-----------------+--------------------+--------------------+
only showing top 20 rows

In [31]:
least_popular_movies = movies_df.select("Title", "Year", "Popularity") \
    .where(col("Year") < 1980) \
    .orderBy("Popularity") \
    .limit(10)
least_popular_movies.show()

+------------------+----+----------+
|             Title|Year|Popularity|
+------------------+----+----------+
|   White Lightning|1953|      null|
|      Desert Rider|1923|      null|
|      Drop KickThe|1927|      null|
| Bank on the Stars|1954|      null|
|Shout at the Devil|1976|         0|
|           Shalako|1968|         0|
|     Anna Christie|1930|         0|
|           Airport|1970|         0|
| Tales of Tomorrow|1953|         0|
|          Stavisky|1974|         1|
+------------------+----+----------+

In [32]:
df_sorted = movies_df.filter(movies_df.Year < 1990).orderBy("Title")
df_sorted.show()

+----+------+--------------------+---------------+--------------------+-----------------+-------------------+----------+------+-------------------+
|Year|Length|               Title|          Genre|               Actor|          Actress|           Director|Popularity|Awards|              Image|
+----+------+--------------------+---------------+--------------------+-----------------+-------------------+----------+------+-------------------+
|1968|   139|2001: A Space Ody...|Science Fiction|          DulleaKeir|   TyzackMargaret|     KubrickStanley|        83|    No|   NicholasCage.png|
|1982|    92|             48 Hrs.|         Action|           NolteNick|   O'TooleAnnette|         HillWalter|        67|    No|   NicholasCage.png|
|1963|   138|               8 1/2|          Drama| MastroianniMarcello| CardinaleClaudia|    FelliniFederico|        80|   Yes|   NicholasCage.png|
|1966|    95|A Big Hand for th...|         Comedy|          FondaHenry|   WoodwardJoanne|        CookFielder|        12|    No|   NicholasCage.png|
|1962|   105|  A Child Is Waiting|          Drama|       LancasterBurt|      GarlandJudy|     CassavetesJohn|        60|    No|  burtLancaster.png|
|1985|   118|A Chorus LineThe ...|          Music|      DouglasMichael|    LandersAudrey|AttenboroughRichard|        71|    No|   NicholasCage.png|
|1971|   138|  A Clockwork Orange|Science Fiction|     McDowellMalcolm|             null|     KubrickStanley|        83|   Yes|   NicholasCage.png|
|1967|   100|A Coeur Joie(Head...|         Action|     TerzieffLaurent|   BardotBrigitte|   BourguignonSerge|        54|    No| brigitteBardot.png|
|1988|   122|   A Cry in the Dark|          Drama|            NeillSam|      StreepMeryl|       SchepisiFred|        67|    No|    merylStreep.png|
|1989|    97|  A Dry White Season|          Drama|    SutherlandDonald|    SarandonSusan|        PalcyEuzhan|        71|    No|   NicholasCage.png|
|1966|   104|      A Fine Madness|         Comedy|         ConnerySean|   WoodwardJoanne|      KershnerIrvin|         6|    No|    seanConnery.png|
|1988|   108| A Fish Called Wanda|         Comedy|          CleeseJohn|  CurtisJamie Lee|    CrichtonCharles|         7|   Yes|   NicholasCage.png|
|1964|   102|A Fistful of Dollars|       Westerns|       EastwoodClint|VolonteGian Maria|        LeoneSergio|        61|    No|  clintEastwood.png|
|1943|  null|     A Guy Named Joe|          Drama|        TracySpencer|       DunneIrene|      FlemingVictor|        42|    No|   spencerTracy.png|
|1954|    96|    A Lesson in Love|         Comedy|   Bj√∂rnstrandGunnar|      DahlbeckEva|      BergmanIngmar|        48|    No|        Bergman.png|
|1977|   110|A Little Night Music|          Music|           CariouLen|  TaylorElizabeth|       PrinceHarold|        61|    No|elizabethTaylor.png|
|1966|   103|     A Man & a Woman|          Drama|TrintignantJean-L...|       AimeeAnouk|      LelouchClaude|        46|   Yes|   NicholasCage.png|
|1986|   112|A Man & a Woman: ...|          Drama|TrintignantJean-L...|       AimeeAnouk|      LelouchClaude|        49|    No|   NicholasCage.png|
|1966|   120|A Man for All Sea...|          Drama|          ShawRobert|      HillerWendy|      ZinnemannFred|        20|   Yes|   NicholasCage.png|
|1976|    97|    A Matter of Time|          Drama|        BoyerCharles|     MinnelliLiza|   MinnelliVincente|        70|    No|   NicholasCage.png|
+----+------+--------------------+---------------+--------------------+-----------------+-------------------+----------+------+-------------------+
only showing top 20 rows